@font-face {
  font-family: "Noto-m";
  src: url(./font/NotoSansKR-Medium.otf); }

@font-face {
  font-family: "Noto-r";
  src: url(../font/NotoSansKR-Regular.otf); }

body {
  background: #f5f5f5; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: "Noto-m";
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.8); }
  .header .logo__title {
    font-size: 35px; }
    .header .logo__title > a {
      color: #2aa9e0; }
  .header .login__button,
  .header .logout__button {
    color: #2aa9e0;
    font-size: 15px;
    background: #fff; }
    .header .login__button--off,
    .header .logout__button--off {
      display: none; }
  .header .login .off,
  .header .logout .off {
    display: none; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto-m";
  color: #262626;
  padding: 100px 0; }
  .content .comment {
    width: 600px; }
    .content .comment .write {
      background-color: #2aa9e0;
      border-radius: 20px 20px 0 0;
      padding: 20px 40px;
      box-shadow: 4px 0 10px rgba(0, 0, 0, 0.07); }
      .content .comment .write__inputWrap {
        display: flex;
        justify-content: left;
        width: 100%; }
      .content .comment .write__input {
        width: 100%;
        height: 50px;
        padding: 10px;
        margin-left: 20px;
        border-radius: 10px; }
        .content .comment .write__input::placeholder {
          color: #2aa9e0; }
      .content .comment .write__btnWrap {
        display: flex;
        justify-content: flex-end; }
      .content .comment .write__btn {
        width: 75px;
        height: 25px;
        font-size: 13px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 6px; }
    .content .comment .result {
      width: 100%;
      min-height: 150px;
      background: #fff;
      border-radius: 0 0 20px 20px;
      box-shadow: 4px 0 10px rgba(0, 0, 0, 0.07); }
      .content .comment .result__item {
        position: relative;
        padding: 30px 40px; }
        .content .comment .result__item::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          content: "";
          display: block;
          width: 92%;
          transform: translateX(-50%);
          border-bottom: 1px solid #aaa; }
        .content .comment .result__item:last-child::after {
          border: none; }
      .content .comment .result__userInfo {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 20px; }
      .content .comment .result__userNameWrap {
        padding: 0 10px; }
      .content .comment .result__userName {
        font-family: "Noto-m";
        font-size: 15px;
        margin-bottom: 7px;
        background: #fff; }
      .content .comment .result__time {
        color: #999;
        font-size: 12px; }
      .content .comment .result__comment {
        font-size: 16px; }
      .content .comment .result__delete {
        position: absolute;
        top: 30px;
        right: 40px;
        width: 20px;
        height: 20px;
        background: #fff;
        transition: 0.3s; }
        .content .comment .result__delete::after, .content .comment .result__delete::before {
          position: absolute;
          top: 50%;
          left: 50%;
          content: "";
          display: block;
          width: 20px;
          height: 1px;
          background: #888; }
        .content .comment .result__delete::after {
          transform: translate(-50%, -50%) rotate(45deg); }
        .content .comment .result__delete::before {
          transform: translate(-50%, -50%) rotate(-45deg); }
        .content .comment .result__delete:hover {
          transform: scale(1.2); }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }
  .popup__dim {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.loginPop--off {
  display: none; }

.loginPop .loginPop__wrap {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 50px;
  padding-left: 25px;
  background: #fff;
  border-radius: 30px;
  transform: translate(-50%, -50%); }
  .loginPop .loginPop__wrap input {
    width: 100%; }
    .loginPop .loginPop__wrap input::placeholder {
      color: #2aa9e0;
      font-size: 14px; }
  .loginPop .loginPop__wrap button {
    width: 25%;
    color: #fff;
    font-size: 14px;
    background: #2aa9e0;
    border-radius: 0 20px 20px 0; }

.commentFilter--on {
  display: flex; }

.commentFilter--off {
  display: none; }

.commentFilter__wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 600px;
  background: #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%); }

.commentFilter__item {
  position: relative;
  padding: 30px 40px; }
  .commentFilter__item::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 92%;
    transform: translateX(-50%);
    border-bottom: 1px solid #aaa; }
  .commentFilter__item:last-child::after {
    border: none; }

.commentFilter__userInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px; }

.commentFilter__userNameWrap {
  padding: 0 10px; }

.commentFilter__userName {
  font-family: "Noto-m";
  font-size: 15px;
  margin-bottom: 7px;
  background: #fff; }

.commentFilter__time {
  color: #999;
  font-size: 12px; }

.commentFilter__comment {
  font-size: 16px; }

.commentFilter__delete {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 20px;
  height: 20px;
  background: #fff;
  transition: 0.3s; }
  .commentFilter__delete::after, .commentFilter__delete::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: #888; }
  .commentFilter__delete::after {
    transform: translate(-50%, -50%) rotate(45deg); }
  .commentFilter__delete::before {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .commentFilter__delete:hover {
    transform: scale(1.2); }
